@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  font-family: "Spectral", serif;
  font-weight: 300;
  font-style: normal;
}

h1{
  font-size: 8rem;
  text-align: center;
}


.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.logo img {
  height: 60px;
  width: auto;
  border-radius: 8px;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 6px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
  background-color: #423f3f;
  color: #fff;
}

form{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 600px;
  margin: 0 auto;
}

button{
  border-radius: 1.5rem;
  padding: 1rem 0.75rem;
  background-color: #423f3f90;
  color: #fff;
  border: none;
}

footer{
  text-align: center;
  margin-top: 3rem;
}