@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  font-family: "Spectral", serif;
  font-weight: 300;
  font-style: normal;
}


ul{
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.logo img {
  height: 60px;
  width: auto;
  border-radius: 8px;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 6px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
  background-color: #423f3f;
  color: #fff;
}


#author-desc {
  font-weight: 900;
  text-align: center;
  font-size: 30px;
}

span{
  font-weight: 400;
}

h2{
  display: inline-block;
}

.info-sections {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  gap: 2rem;
  margin-top: 3rem;
  flex-wrap: wrap; 
}

.info-box {
  flex: 1;
  min-width: 250px;
  padding: 1rem;
  background-color: #fdfdfd;
  border: none;
  border-radius: 8px;
}

.info-box h2 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: #333;
}

.reviews {
  display: flex;
  justify-content: space-between;
}

.review-header h2 {
  text-align: center;
  font-size: 2rem;
}


.review-1, .review-2, .review-3 {
  flex: 1;
  min-width: 250px;
  padding: 1rem;
  background-color: #fdfdfd;
  border: none;
  border-radius: 8px;
  font-style: italic;
  margin-top: 3rem;
  margin-bottom: 3rem;
}


footer{
  text-align: center;
  margin-top: 2rem;
}

